@font-face {
  font-family: 'Quick';
  font-style: normal;
  font-weight: normal;
  src: local('The Quick South St Regular'), url('The Quick South St.woff') format('woff');
  }

  h2 {
    font-family: 'Quick';
    font-size: 2.0rem !important;
    color: #09083d;
  }

  .bg-card {
    background-color: #9eebcfcf;
  }

  p {
    text-transform: lowercase;
  }